{
  "make": {
    "description": "The make of the car",
    "steps": [
      "go to AWS Console",
      "select IAM",
      "click on Users"
    ],
    "type": "string"
  },
  "model": {
    "description": "The model of the car",
    "type": "string"
  },
  "color": {
    "description": "The color of the car",
    "type": "string"
  },
  "year": {
    "description": "The model year of the car",
    "type": "integer"
  },
  "new": {
    "description": "Is this a new car?",
    "type": "boolean"
  },
  "history": {
    "_path_": true,
    "established": {
      "description": "First year of the car",
      "type": "integer"
    },
    "wheels": {
      "value": 4
    }
  }
}
